$font-size:16px;
$font-color:rgb(66,66,66);

$font-color-ass:#9c9e9d;//灰色

$deputy-color:#ff9b57;//副色



$side-width:195px;

$dropMenu_bgcolor:#f4f7fc;

$view-bgcolor:#fafefd;

$view-container-bgcolor:#fafffb

